body {
  background-image: url("../images/bg.jpg");
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #33b5e5;
}
.pen-title span a {
  color: #33b5e5;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #181818;

  max-width: 320px;
  width: 100%;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-module .form {
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .cta {
  background: #181818;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}

h4.alert_info {
    display:block;
    width:99%;
    /*margin:20px 3% 0;*/
    margin-top:20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background:#B5E5EF url(../images/icn_alert_info.png) no-repeat;
    background-position:10px 10px;
    border:1px solid #77BACE;
    color:#082B33;
    padding:10px 0;
    text-indent:40px;
    font-size:14px
}

h4.alert_warning {
    display:block;
    width:99%;
    /*margin:20px 3% 0;*/
    margin-top:20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background:#F5F3BA url(../images/icn_alert_warning.png) no-repeat;
    background-position:10px 10px;
    border:1px solid #C7A20D;
    color:#796616;
    padding:10px 0;
    text-indent:40px;
    font-size:14px
}

h4.alert_error {
    display:block;
    width:99%;
    /*margin:20px 3% 0;*/
    margin-top:20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background:#E95757 url(../images/icn_alert_error.png) no-repeat;
    background-position:10px 10px;
    border:1px solid #D20009;
    color:#7B040F;
    padding:10px 0;
    text-indent:40px;
    font-size:14px
}

h4.alert_success {
    display:block;
    width:99%;
    /*margin:20px 3% 0;*/
    margin-top:20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background:#87bf43 url(../images/icn_alert_success.png) no-repeat;
    background-position:10px 10px;
    border:1px solid #719e37;
    color:#fff;
    padding:10px 0;
    text-indent:40px;
    font-size:14px
}