/* A bit custom styling */
.my-page .ui-listview li .ui-btn p {
	color: #c0c0c0;

}
.my-page .ui-listview li .ui-btn .ui-li-aside {
	color: #eee;
}

#testing, #testing-popup  {
max-width: 600px;
height: 405px;
background: black;
}

.videoscreen{
border: 0px inset;
box-shadow: 0px 0px 150px rgba(255, 255, 255, 1);
}


.video-js {
box-shadow: 0px 0px 150px rgba(255, 0, 0, 1);
}

.my_video_1{
width: 640px;
height: 360px;
}


.titletext{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 70px;
position: relative;
top: 20px;
}





.videoout{
position: relative;
top: 100px;
}



.ui-popup iframe {
vertical-align: middle;
border: 0px inset;
}

.ui-btn-active, .ui-state-persist, .ui-link, .ui-btn, .ui-block-a {
background-color: rgba(34, 170, 221, 0);
}

/*header bar colour/gradient*/

#left-panel ul {
padding-left: 1px;

}


	
	
/*side panel background*/	
	.ui-body-b, .ui-page-theme-b {
background-image: url("../webapp/bg5.jpg");
}
/*background*/

.ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b, .ui-panel-wrapper {

background-image: url("../webapp/bg9.gif"); /*Patterned background */
}

.ui-listview>li.ui-first-child, .ui-listview>li.ui-first-child>a.ui-btn  {
border-radius: 30px;
}

.ui-listview .ui-li-has-thumb
{
border-radius: 30px;
}

.ui-listview>li.ui-last-child, .ui-listview>li.ui-last-child>a.ui-btn {
border-radius: 30px;
}
/*channel icon glow*/
.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview, .ui-li-has-thumb, .ui-li-thumb {
-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3),0 -1px 0 rgba(255,255,255,0.8),0 4px 10px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3),0 -1px 0 rgba(255,255,255,0.8),0 4px 10px rgba(0,0,0,0.6);
box-shadow: 0 0px 0 rgba(0, 0, 0, 0),-1px -1px 0px rgba(255, 255, 255, 1),5px 0px 10px rgba(0, 0, 0, 1);
left: 1px;
top: 1px;
}



/*Channel Icon border radius*/
.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
border-radius: 30px;
.overlay1 { background-image:url("/mobile/glow.png"); position:absolute; top:0; left:0; width:184px; height:219px; z-index:3;}

.ui-icon-carat-r:after {
background-image: url("../webapp/play-icon.png");
}

.ui-content .ui-listview, .ui-panel-inner>.ui-listview {
margin: -0.9em;
}

.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited {
/* background-color: rgba(94, 61, 61, 0.22); */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34, 34, 34, 0.74)), color-stop(100%,rgba(0, 0, 0, 0.56)));
border-color: rgba(174, 138, 138, 0);
color: #FFF;
border-radius: 30px;
text-shadow: 0 1px 0 #000;
box-shadow: 0 0px 5px rgba(0, 0, 0, 0.71);
}

.ui-listview-inset>.ui-li-static, .ui-listview-inset>.ui-li-divider, .ui-listview-inset>li>a.ui-btn {
border-right-width: 1px;
border-left-width: 1px;
}

.ui-listview>.ui-li-static, .ui-listview>.ui-li-divider, .ui-listview>li>a.ui-btn {
border-width: 0px 0 0;
}

.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
position: absolute;
max-height: 5em;
max-width: 5em;
min-width: 5em;
min-height: 5em;
}



/*sidepanel shadow*/
	.ui-panel-display-reveal {
/* -webkit-box-shadow: inset -5px 0 5px rgba(0,0,0,.15); */
-moz-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
box-shadow: inset -5px -3px 10px rgba(15, 15, 15, 1);

}

.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited {
border-color: rgba(0, 0, 0, 0);
}

.popup-background{
background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(135,135,135,1) 96%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(96%,rgba(135,135,135,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(135,135,135,1) 96%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(135,135,135,1) 96%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(135,135,135,1) 96%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(135,135,135,1) 96%); /* W3C */
}


/* First breakpoint is 48em (768px). 3 column layout. Tiles 250x250 pixels incl. margin at the breakpoint. */
@media ( min-width: 48em ) {
	.my-page .ui-content {
		padding: .5625em; /* 9px */
               /*background-image: url('http://www.wallpaperup.com/uploads/wallpapers/2012/09/26/16626/big_thumb_8155b41ae43140299c342079a2c134dd.jpg')*/
       }
	.my-page .ui-listview li {
		float: left;
		width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */
		height: 14.5em; /* 232p */
		margin: .5625em 1.2%;
	}
	
	.my-page .ui-listview li > .ui-btn {
		-webkit-box-sizing: border-box; /* include padding and border in height so we can set it to 100% */
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 100%;
	}
	.my-page .ui-listview li.ui-li-has-thumb .ui-li-thumb {
		height: auto; /* To keep aspect ratio. */
max-width: 100%;
max-height: 100%;
min-height: 100%;
min-width: 100%;
		
	}
	
	
	/* Make all list items and anchors inherit the border-radius from the UL. */
	.my-page .ui-listview li,
	.my-page .ui-listview li .ui-btn,
	.my-page .ui-listview .ui-li-thumb {
		-webkit-border-radius: 30px;
		border-radius: 30px;
	}
	/* Hide the icon */
	.my-page .ui-listview .ui-btn-icon-right:after {
		display: none;
	}
	/* Make text wrap. */
	.my-page .ui-listview h2,
	.my-page .ui-listview p {
		white-space: normal;
		overflow: visible;
		position: absolute;
		left: 0;
		right: 0;
	}
	/* Text position */
	.my-page .ui-listview h2 {
		font-size: 1em;
		margin: 0;
		padding: .125em 1em;
		bottom: 50%;
	}
	.my-page .ui-listview p {
		font-size: 1em;
		margin: 0;
		padding: 0 1.25em;
		min-height: 50%;
		bottom: 0;
	}
	/* Semi transparent background and different position if there is a thumb. The button has overflow hidden so we don't need to set border-radius. */
	.ui-listview .ui-li-has-thumb h2,
	.ui-listview .ui-li-has-thumb p {
		background: #111;
		background: rgba(0,0,0,.8);
		
	}
	.ui-listview .ui-li-has-thumb h2 {
		bottom: 0%;
		z-index:1;
		text-align: center;
	}
	.ui-listview .ui-li-has-thumb p {
	    bottom: 10.5%; 
		min-height: 15%;
		text-align: center;
		/*display: none;*/
	}
	/* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
	.my-page .ui-listview .ui-li-aside {
	    z-index: 4;
		padding: .125em .625em;
		width: auto;
		min-height: 0;
		top: 0;
		left: auto;
		bottom: auto;
		/* Custom styling. */
		background: #990099;
		background: rgba(153,0,153,.85);
		-webkit-border-top-right-radius: inherit;
		border-top-right-radius: inherit;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	/* If you want to add shadow, don't kill the focus style. */
	.my-page .ui-listview li {
		-moz-box-shadow: 0px 0px 9px #111;
		-webkit-box-shadow: 0px 0px 9px #111;
		box-shadow: 0px 0px 9px #111;
	}
	/* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
	.my-page .ui-listview li > .ui-btn:hover {
		-moz-box-shadow: 0px 0px 12px #33ccff;
		-webkit-box-shadow: 0px 0px 12px #33ccff;
		box-shadow: 0px 0px 12px #33ccff;
	}
	/* Animate focus and hover style, and resizing. */
	.my-page .ui-listview li,
	.my-page .ui-listview .ui-btn {
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		transition: all 500ms ease;
	}
}

/* Second breakpoint is 63.75em (1020px). 4 column layout. Tiles will be 250x250 pixels incl. margin again at the breakpoint. */
@media ( min-width: 63.75em ) {
	.my-page .ui-content {
		padding: .625em; /* 10px */
	}
	/* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
	By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
	.my-page .ui-listview {
		max-width: 62.5em; /* 1000px */
		margin: 0 auto;
	}
	/* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
	but we stick to percentage values for demo purposes. */
	.my-page .ui-listview li {
		width: 23%;
		height: 230px;
		margin: .625em 1%;
	}
}

/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */